.button {
  margin: 0;
  padding: .5rem 1rem;
  line-height: 1.5;
  cursor: pointer;
  background: var(--primary-color);
  color: white;
  box-shadow: 0 .2rem .3rem 0 rgba(0, 0, 0, .2);
  border: none;
  border-radius: 2px;
  display: inline-block;
}

.button[disabled],
.button--disabled {
  background: #aaa;
  cursor: default;
}
