:root {
  --primary-color: rebeccapurple;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  cursor: default;
}

.hidden {
  display: none;
}

.bar {
  background: var(--primary-color);
}

.lead {
  font-size: 2rem;
}

@import 'upload.css';
@import 'button.css';
@import 'search.css';
@import 'card.css';
@import 'name.css';
@import 'cards.css';
@import 'circle.css';
