.name {
  display: block;
  padding: 0.25rem 1rem;
  text-decoration: none;
}

.name,
.name:active,
.name:visited {
  color: black;
}

.name:hover {
  background: #eee;
}

.name mark {
  background: transparent;
  color: #aaa;
}
