.search-container {
  margin: 1rem auto;
  width: 32rem;
  padding: 1rem;
}

.search-input {
  width: 100%;
  padding: .75rem 1rem;
  border: none;
  border-bottom: 2px solid #aaa;
  box-sizing: border-box;
  outline: none;
  transition: border-bottom .3s;
}

.search-input:focus {
  border-bottom: 2px solid var(--primary-color);
}
