.upload {
  height: 100vh;
  display: flex;
}

.upload-container {
  margin: auto;
  width: 20rem;
  text-align: center;
  box-sizing: border-box;
}

.upload-logo {
  color: var(--primary-color);
}

.upload-button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}
